/* Typography */
p {
  font-size: 1.2rem;
}

#results p {
  line-height: 1.5rem;
}

/* Heading */
h1 {
  text-align: center;
}

/* Introduction Paragraph */
#introduction-p {
  display: block;
}

/* Letter Tiles */
.wordtiles p {
  background-color: lightgrey;
  margin: 0 3px 0 3px;
  padding: 0.75em 0em 0.75em 0em;
  min-width: 2em;
  max-width: 10%;
  max-height: 10%;
  display: inline-block;
  font-size: 2em;
  text-align: center;
}
.wordtiles {
  height: 100%;
  display: flex;
}

/* Guess Rows - First is Always Displayed Others Toggle*/
#row-1 {
  display: flex;
}

#row-2,
#row-3,
#row-4,
#row-5 {
  display: none;
}

.guess-row {
  margin: 15px;
  flex-wrap: wrap;
}

/* Inputs */
input[type="number"] {
  text-align: center;
  width: 50px;
}

input[type="text"] {
  width: 5rem;
}

/* Vertically Align Input Elements*/
.guess-items {
  margin: auto 20px;
  padding-top: 10px;
  display: block;
  padding-bottom: 10px;
}

/* Buttons */
button {
  padding: 0.5em;
  margin: 0.5em;
}

#reveal-button {
  display: none;
}

/* Layout */
.container {
  width: 100%;
  height: 100%;
  align-content: center;
  margin-top: 5%;
}

.center {
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* Layout changes for screens tablet or larger  */
@media (min-width: 768px) {
  /* Displays input and letter tiles side by side */
  .guess-row {
    flex-wrap: nowrap;
  }
  /* Widens letter tiles */
  .wordtiles p {
    min-width: 2.5em;
  }
}
