/* Typography */
p {
  font-size: 1.2rem;
}

#results p {
  line-height: 1.5rem;
}

/* Heading */
h1 {
  text-align: center;
}

/* Introduction Paragraph */
#introduction-p {
  display: block;
}

/* Letter Tiles */
#guesses p {
  background-color: lightgrey;
  margin: 0 3px 0 3px;
  padding: 0.75em 0em 0.75em 0em;
  min-width: 2.5em;
  max-width: 10%;
  max-height: 10%;
  display: inline-block;
  font-size: 2em;
  text-align: center;
}

/* Guess Rows - First is Always Displayed Others Toggle*/
#row-1 {
  display: flex;
}

#row-2,
#row-3,
#row-4,
#row-5 {
  display: none;
}

/* Vertically Align Input Elements*/
.guess-items {
  margin: auto 5px;
  padding-top: 10px;
  display: block;
  padding-bottom: 10px;
}

/* Reveal Button Only Shows After Find Words Button is Clicked */
#reveal-button {
  display: none;
}

/* Layout */
.container {
  width: 100%;
  height: 100%;
  align-content: center;
  margin: 50px;
}

.center {
  height: 100%;
  width: 900px;
  margin: 0 auto;
}

/* Guess Rows Container Spacing */
.guess-row {
  margin: 15px;
}
